@font-face {
    font-family: 'Raleway';
    src: url(fonts/Raleway-VariableFont_wght.ttf) format('truetype')
}

@font-face {
    font-family: 'slogan';
    src: url(fonts/slogan.ttf);
}

body {
    margin-right: 20px;
    margin-left: 20px;
}

header {
    text-align: center;
    padding: 15px 30px;
    background-color: #f0f0f0;
    font-family: 'Raleway', sans-serif;
}

header a {
    text-decoration: none;   
    color: #333;             
    margin: 0 20px;          
    font-weight: bold;
    transition: color 0.3s ease, font-size 0.3s ease 0.2s;
}

header a:hover {
    color: cornflowerblue;
    font-size: 35px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

#logo {
    display: flex;
    justify-content: left;
    margin-bottom: 0px;
}

#image {
    width: 100px;
    height: 100px;
    margin-top: 40px;
}

#firstText {
    font-size: 60px;
    margin-left: 30px;
    font-family: 'Raleway', sans-serif;
}

#slogan {
    font-size: 50px;
    font-family: 'slogan';
    margin-left: 50px;
}

.images {
    display: flex;
    justify-content: left;
    gap: 55px;
    margin-left: 55px;
}

.img {
    max-width: 30%;
    height: auto;
    border-radius: 25px;
}

#mainFirstText {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    margin-left: 20px;
}

#study {
    font-family: 'Raleway', sans-serif;
    font-size: 45px;
    margin-left: 30px;
    border: 2px solid black;
    border-radius: 20px;
    padding: 5px 10px;
    background-color: azure;
}

.list {
    display: flex;
    justify-content: space-between;
    background-color: beige;
}

.spec {
    font-size: 40px;
    font-family: 'Raleway';
    line-height: 1.7;
}

#imagenearlist {
    border-radius: 40px;
}

.location {
    display: flex;
    align-items: left;
    gap: 8px;
    margin-top: 15px;
    margin-left: 50px;
}

#locationLocIcon {
    height: 25px;
    width: auto;
}

#locationText {
    font-size: 25px;
    margin: 0;
    font-family: 'Raleway', sans-serif;
}

#locationFlag {
    height: 25px;
    width: auto;
}