@font-face {
    font-family: 'IntelOneMono-Regular';
    src: url(fonts/IntelOneMono-Regular.ttf) format('truetype')
}

@font-face {
    font-family: 'slogan';
    src: url(fonts/slogan.ttf);
}

header {
    text-align: center;
    padding: 15px 30px;
    background-color: #f0f0f0;
    font-family: 'IntelOneMono-Regular', sans-serif;
    transition: color 0.3s ease, font-size 0.3s ease 0.2s;
}

header a {
    text-decoration: none;   
    color: #333;             
    margin: 0 15px;          
    font-weight: bold;
    transition: color 0.3s ease, font-size 0.3s ease;
}

header a:hover {
    color: cornflowerblue;
    font-size: 35px;
    transition: color 0.3s ease, font-size 0.3s ease;
}

#a {
    font-size: 65px;
}

#slogan {
    font-size: 50px;
    font-family: 'slogan';
    margin-left: 50px;
}

#logo {
    display: flex;
    justify-content: left;
}

#hlogo {
    width: 10%;
    height: auto;
}

.images {
    display: flex;
    justify-content: center;
    gap: 90px; /* расстояние между картинками */
    padding: 20px 0;
    max-width: 1800px;
    margin: 0 auto;
}

.images img {
    width: 30%;        /* три картинки по 30% ширины */
    height: auto;
    border-radius: 12px;
    object-fit: cover;
}


#shortinfo {
    font-family: 'IntelOneMono-Regular';
    font-size: 30px;
    background-color: antiquewhite;
    padding-left: 20px;
}

#study {
    font-family: 'IntelOneMono-Regular';
    font-size: 30px;
    padding-left: 50px;
}

.lists {
    background-color: lightblue;
    border-radius: 20px;
}

.spec {
    font-family: 'IntelOneMono-Regular';
    font-size: 25px;
    padding-left: 1px;
    margin-top: 5px;
}

.location {
  display: flex;
  align-items: center;
  margin-left: 40px; /* смещение вправо */
  font-size: 18px;
  gap: 10px; /* базовое расстояние между элементами */
}

.locationLocIcon {
  width: 20px;
  height: 20px;
  object-fit: contain;
  margin-right: 6px; /* небольшой отступ после иконки */
  background-color: white;
}

.locationLoc {
  margin: 0;
  font-weight: bold;
  font-size: 35px;
  font-family: 'Camb';
}

.locationText {
  margin: 0 0 0 0; /* справа — чуть больше пробел перед флагом */
  font-size: 30px;
  font-family: 'Camb';
}

.flag {
  width: 50px;
  height: auto;
  object-fit: contain;
  background-color: white;
}